.App {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  background-color: #fff;
  text-align: center;
  padding: 10px;
  height: 85vh;
  overflow: scroll;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(8, 14, 192);
  border-radius: 5px;
  color: white;
  padding-inline: 5px;
  margin-bottom: 15px;
  transition: all 0.2s;
}
.task:hover {
  transform: scaleY(1.1);
}